@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Roboto;
}

*::selection {
	color: white;
	background-color: rgb(184, 2, 2);
} /* Correct image selection */

body {
	background-color: #f9faf8;
}

header {
	background-color: #000000;
	padding: 10px 10px 40px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center; /* This will allow to center the nav and .header_content */
}

header, .header_button, header a { /* Works for p, a and button */
	font-size: 18px;
	color: #e5e7eb;
	text-decoration: none;
}

nav { /* This will allow to center .nav_list with its reducted width */
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.nav_list {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	flex: 0 1 830px;  /* This sets the .nav_list's width to 800px and lets it shrink down to 520px */
	min-width: 520px;
	text-align: center;
	margin-left: 44px;  /* When the page is at its smallest, these margins align the .nav_list with the .header_content */
	margin-right: 44px;
}

.logo {
	margin-right: auto;
}

.logo img {
	font-size: 24px;
	width: 60px;
}

.nav_list, .header_content {
	margin-bottom: 60px;
}

.header_content {
	display: flex;
	justify-content: center;
	align-items: center; /* This will allow to center the content */
	gap: 40px;
	max-width: 85%;
}

.header_content_text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-shrink: 1;
	width: 30%;
}

.header_title {
	font-size: 48px;
	font-weight: 900;
	color: #f9faf8;
	flex-shrink: 1;
}

.header_button {
	background-color: #f63838;
	padding: 7px 25px;
	flex-shrink: 1;
	margin-top: 13px; 
	border: none;
	border-radius: 8px;
	align-self: flex-start;
	cursor: pointer;
	font-size: 18px;
}

.header_p {
	flex-shrink: 1;
}

.header_img {
	flex: 0 1 450px; /* The image starts being this width but can shrink down to 200px */
    min-width: 200px;
	border-radius: 15px;
}

main, footer {
	text-align: center;
}

main {
	padding-top: 40px;
}

.albums_title {
	font-size: 36px;
	font-weight: 900;
	margin: 0 50px;
}

.albums_title, .albums_container {
	color: #1F2937;
}

.albums_container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 40px;
	margin: 40px 60px;
}

.album_card {
	flex: 1 0 180px;
	max-width: 210px;
}

.album_card_img {
	border: 5px solid #f63838;
	border-radius: 12px;
	margin-bottom: 5px;
	width: 100%; /* Tells the images to be just the width of the card. Some of them were far bigger. */
}